## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [10]:
import pandas as pd
import numpy as np

In [12]:
import random

def randomlist(start, stop, length):
    start, stop = (int(start), int(stop)) if start <= stop else (int(stop), int(start))
    length = int(abs(length)) if length else 0
    random_list = []
    for i in range(length):
        random_list.append(random.randint(start, stop))
        
    return random_list
#print(randomlist(10000000,1000000000,9))

data = {'國家': ['Taiwan','Russia','Japan', 'Thailand', 'Viet Nam', 'Greece', 'Mexico', 'Philippines', 'Germany'],
        '人口': randomlist(10000000,1000000000,9) }
data = pd.DataFrame().from_dict(data, orient='columns')

data.head()

         國家         人口
0    Taiwan  628237986
1    Russia  994777386
2     Japan  743828976
3  Thailand  924652604
4  Viet Nam  950627551